 
      input {
        font-size: 12px;
      }

      h2 {
        color: #black;
        font-size: 22px;
        margin: 0 0 10px 0;
        text-align: center;
      }
      #map {
        bottom:0px;
        top: 65px;
        height: 100%;
        left: 35px;
        position: absolute;
        right: 35px;
      }

      .search {
            width: 98%;
            display: flex;
        }

      .foursquare {
        bottom: 0px;
        width: 60%;
        margin-top: 400px;
    }


    .location_list {
        padding: 3px 5px 5px 5px;
    }


    body {
      overflow-x: hidden;
    }

    #wrapper {
      padding-left: 0;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    #wrapper.toggled {
      padding-left: 250px;
    }

    #sidebar-wrapper {
      z-index: 1000;
      position: absolute;
      left: 250px;
      width: 0;
      height: 100%;
      margin-left: -250px;
      overflow-y: auto;
      background: #000;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      transition: all 0.5s ease;
    }

    #wrapper.toggled #sidebar-wrapper {
      width: 250px;
    }

    #page-content-wrapper {
      width: 100%;
      position: absolute;
      padding: 15px;
    }

    #wrapper.toggled #page-content-wrapper {
      position: absolute;
      margin-right: -250px;
    }

    .sidebar-nav {
      position: absolute;
      top: 350px;
      width: 250px;
      margin: 0;
      padding: 0;
      list-style: none;
    }


    @media(min-width:768px) {
      #wrapper {
        padding-left: 0;
      }
      #wrapper.toggled {
        padding-left: 250px;
      }
      #sidebar-wrapper {
        width: 0;
        margin-top: 20px;
      }
      #wrapper.toggled #sidebar-wrapper {
        width: 250px;
      }
      #page-content-wrapper {
        padding: 20px;
        position: relative;
      }
      #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
      }
    }

